body{
    background-image: url(../Station8/images/bg.png);
}

.Karte{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schleife{
    position: absolute;
    z-index: 1;
    left: 55%;
    top: 60%;
}