body{
    background-image: url(../Station8/images/bg.png);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video{
    position: absolute;
    z-index: 1;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schleife{
    position: absolute;
    z-index: 2;
    left: 61.8%;
    top: 68.5%;
}