body{
    font-family: sans-serif;
    background-image:url(Grafiken/bg.png);
  }

  
.nav{
    list-style-type: none;
    position: fixed;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
    padding: 9px 9px 3px;
    padding-top: 3px;
    width: auto;
    float: right;
    margin-top: auto;
    top:0;
    right: 18.5%;
    display:inline-flex;
}

nav a{ 
  color: white;
  text-decoration: none;
  margin-left: -7%;
}

nav li{
  margin-left: 10px;
}

li {
  border-right: 2px solid white;
  border-right-width: thin; 
}

li:last-child {
  border-right: none;
}

a:hover{
  color: #b63514;
}

a.nav2:link,a.nav2:visited{
  color: #b63514;
}

.kreistext1{
text-align: center;
margin-top: 18%;
font-size: 107px;
font-weight: bolder;
letter-spacing: -22px;
}

.kreistext2{
margin-left: 47%;
font-size: 40px;
margin-top: -24%;
}

.kreistext3{
  margin-left: 47.5%;
  margin-top: -5%;
  font-size: 77%;
}

.Facebook{
  margin-left: 47.5%;
  opacity: 70%;
}

.Facebook:hover{
  opacity: 100%;
}


.Kreis{ 
  margin-left: auto;
  margin-right: auto;
  background-color:#b63514;
  color: white;
  width: 800px;
  height: 450px;
  border-radius: 0px 0px 400px 400px;
  margin-top: -11%;
}

.kreistext1 h1{
  background-image: url("Grafiken/bg.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kreistext2 h2{
  background-image: url("Grafiken/bg.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kreistext3 p{
  background-image: url("Grafiken/bg.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}