body{
    background-color: black;
}

.blue1 {
    background: linear-gradient(to bottom, #3888e4, #174288);
    position: absolute;
    border: none;
    padding: 20px;
    width: 150px;
    height: 150px;
    left: 400px;
    top: 20px;
    border-radius: 10px;
    }
    
    .blue1:hover{
        opacity: 40%;
    }
    
    .blue2 {
        background: linear-gradient(to bottom, #3888e4, #174288);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 555px;
        top: 20px;
        border-radius: 10px;
    }
    
    .blue2:hover{
        opacity: 40%;
    }
    
    .blue3 {
        background: linear-gradient(to bottom, #3888e4, #174288);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 710px;
        top: 20px;
        border-radius: 10px;
    }
    
    .blue3:hover{
        opacity: 40%;
    }
    
    .pink1 {
        background: linear-gradient(to bottom, #ff52ac, #da147a);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 400px;
        top: 175px;
        border-radius: 10px;
    }
    
    .pink1:hover{
        opacity: 40%;
    }
    
    .pink2 {
        background: linear-gradient(to bottom, #ff52ac, #da147a);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 555px;
        top: 175px;
        border-radius: 10px;
    }
    
    .pink2:hover{
        opacity: 40%;
    }
    
    .pink3 {
        background: linear-gradient(to bottom, #ff52ac, #da147a);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 710px;
        top: 175px;
        border-radius: 10px;
    }
    
    .pink3:hover{
        opacity: 40%;
    }
    
    .pink4 {
        background: linear-gradient(to bottom, #ff52ac, #da147a);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 400px;
        top: 330px;
        border-radius: 10px;
    }
    
    .pink4:hover{
        opacity: 40%;
    }
    
    .yellow1 {
        background: linear-gradient(to bottom,  #f39f38, #cc6e0b);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 555px;
        top: 330px;
        border-radius: 10px;
    }
    
    .yellow1:hover{
        opacity: 40%;
    }
    
    .yellow2 {
        background: linear-gradient(to bottom,  #f39f38, #cc6e0b);
        position: absolute;
        border: none;
        padding: 20px;
        width: 150px;
        height: 150px;
        left: 710px;
        top: 330px;
        border-radius: 10px;
    }
    
    .yellow2:hover{
        opacity: 40%;
    }
    
    .playbutton {
        position: absolute;
        left: 565px;
        top: 500px;
    }
    
    .playbutton:hover {
        opacity: 40%;
    }
    
    .control {
        display:flexbox;
        color: white;
        place-items: center;
    }
